body {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 65px;
}

h2 {
  font-family: 'Josefin Slab', serif;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.container {
  margin-top: 50px;
}

.bg-info {
  padding: 20px;
}

.bg-success {
  padding: 20px;
}
